useDynLib(libsvmR)

export(svm, save.svmmodel, load.svmmodel, read.svmproblem,
       "[.svmproblem",
       crossvalidate, rocpr.aucs, auc,
       tune.svm, make.svmparams, 
       svm.debuglvl)

S3method(predict, svmmodel)
S3method(print, svmmodel)
S3method(print, svmproblem)
